/* 清除所有样式 */
*{
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
    height: 600px;
}
/* 导航栏分类 */
main .main_category{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}
main .main_category .main_categoty_text{
    width: 200px;
    height: inherit;
    background: green;
    text-align: center;
    margin: 0 20px 0 70px;
    color: #fff;
    line-height: 40px;
}
main .main_category nav ul{
    display: flex
}
main .main_category nav ul li a small{
    line-height: 40px;
    color: #736f6a;
    border-right: 1px solid #736f6a;
    padding: 0 15px;
}
main .main_category nav ul li a:hover small{
    color: #ff5a00;
}

/* 大盒子 */
.box{
    width: 89.7%;
    border-top: 2px solid green;
    border-bottom: 2px solid green;
    margin: 0 auto;
    overflow: hidden;
}
/* 食品分类 */
.box .category{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
}
.box .category .categroy_text{
    color: green;
}
.box .category .categroy_logo{
    width: 26px;
    height: 15px;
    background: url(../img/categroy_arrow.png) no-repeat;
}
/* 侧栏 */
aside{
    width: 200px;
    height: 500px;
    border: 1px solid #f7f7f7;
    float: left;
}
aside title{
    display: block;
    width: 200px;
    height: 35px;
    background: #f7f7f7;
    font-size: 14px;
    line-height: 35px;
    text-indent: 10px;
}
aside ul li{
    width: 180px;
    height: 225px;
    margin: 0 10px;
    box-sizing: border-box;
    margin: 0 auto;
}
aside ul .list1{
    border-bottom: 1px solid black;
}
aside ul li img{
    width: 180px;
    height: 160px;
}
aside ul li :nth-child(2){
    color: #777;
    font-size: 12px;
    margin:6px 0 10px 10px;
}
aside ul li :nth-child(3){
    color: red;
    font-size: 14px;
    margin-left: 10px;
}
/* <!-- 右边详情商品 --> */
.content{
    width: 80.5%;
    height: 500px;
    float: right;
}
.content .content-ft {
    height: 35px;
    width: 100%;
    background: #F0FDEC;
}
.content .content-ft  ul{
    display: flex;
}
.content .content-ft  ul li{
    padding: 0 20px;
}
.content .content-ft  ul .default{
    background: #37ab40;
}
.content .content-ft  ul li a{
    color:#000;
    line-height: 35px;
    font-size: 13px;
}
.content .content-ft ul:hover li{
    background: none;
    color:#000;
}
.content .content-ft ul li:hover{
    background: #37ab40;
}
.content .content-ft ul li:hover a{
    color: white;
}
/* 中间内容 */
.content-fc ul{
display: flex;
}
.content-fc ul li{
    width: 196px;
    height: 251px;
    margin-top: 10px;
}
.content-fc ul li a img{
    width: 160px;
    height: 160px;
    margin-left: 15px;
}
.content-fc ul li :nth-child(2){
    font-size: 12px;
    margin-left: 15px;
    margin-top: 10px;
}
.content-fc ul li :nth-child(3){
    color: red;
    font-size: 15px;
    margin-left: 15px;
    margin-top: 5px;
    display:flex;
    align-items: center;
}
.content-fc ul li :nth-child(3) span{
    font-size: 12px;
    color: #736f6a;
    margin-left: 5px;
}
.content-fc ul li :nth-child(3) img{
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
}
.content-fc ul li :nth-child(4){
    font-size: 12px;
    color: #736f6a;
    margin-left: 15px;
}
/* 底部页数 */
.content-fb{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.content-fb ul{
    display: flex;
}
.content-fb ul li{
    padding: 5px 10px;
    border: 1px solid #F0FDEC;
    margin: 0 5px;
}
.content-fb ul li a{
    text-align: center;
    color: #666;
}

.content-fb ul .frist{
    background: #186d85;
}
.content-fb ul .next{
    background: #5bcdde;
}












